* {
  margin: 0px;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

input {
  width: 15em;
  height: 2em;
  font-size: 2em;
  color: #6b5e62;
  text-align: center;
  border-radius: 0.5em;
  
}

input:focus {
  outline: none !important;
  box-shadow: 0 10px 40px rgba(59,43,91,.3);
}

h1 {
  font-size: 5em;
  color: white;
  text-align: center;
  font-family: Montserrat,sans-serif;
  text-shadow: 4px 4px 8px rgba(59,43,91, .8);
}


button {
  height: 3.2em;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 15px;
  border-radius: 0.7em;
  background-color: #6ba368;
}

button:hover {
  border: 1px solid #9cfc97;
}

#convertedValue {
  font-size: 4em;
  color: #6ba368;
}

.container {
  padding: 5em;
  margin: 100px;
  display: flex;
  border-radius: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px rgba(59,43,91,.3);
}

footer {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: #e9ebee;
}

a {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  h1 {
    margin-top: 250px;
    font-size: 2em;
  }

  input {
    width: 90%;
    height: 50px;
  }

  .buttons {
    flex-direction: column;
  }
  button {
    margin-bottom: 15px;
  }
}